.Header{
  height: 2.5rem;
  background-color: #123678;
  text-align: left;
  height: 2.5rem;
  line-height: 2.5rem;
  color: white;

  .App-title{
    padding-left: 1rem;
  }

  .header-tools{
    float:right;
    padding-right: 1rem;
    .material-icons{
      vertical-align: middle;
    }
  }
}